=======================================================================

			 example -- log book

	file is /var/log/changes -- use 'changelog' command

=======================================================================
2009-04-21	foo	- did bar
-----------------------------------------------------------------------
